
body {font-family: Helvetica; sans-serif;
text-align: center;}

h1 {font-size: 70px;
color: white;}

a {font-size: 18px;
color: white;}

.header {background-image: url("https://gregory-i.github.io/broadway/resources/images/the-flatiron-building.png");}

.midder {background-image: url("https://gregory-i.github.io/broadway/resources/images/the-flatiron-building.png");}

.midder {color: white;}

h2 {font-size: 32px;}

h3 {font-size: 23px;
font-weight: bold;}

p {font-size: 14px;}

.footer {text-align: left;
background-color: dimgray;
color: white;
font-size: 11px;}
